.home{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.home h1{
    font-size: 3rem;
    font-weight: 500;
}
.preview{
    height: 50px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: center; 
}

